#attributes .versioned-file-cf-form + .attachments_form {
  input.description {
    float: inline-start;
    inline-size: 95%;
    margin-inline-start: 0;
  }
}

.versioned_file_cf {
  .revision-file-history-link {
    font-size: 0.9em;
  }
}

.wiki-page-versions {
  .description {
    div {
      display: flex;
      gap: 5px;

      input {
        flex: 1 0 auto;
        border-width: 0;
        background: transparent;
        padding: 0;
        &:active,
        &:focus {
          outline: none;
          border-width: 1px;
          background: #fff;

          & + button {
            display: inline-block;
          }
        }
      }
      button {
        flex: 0 0 auto;
        cursor: pointer;
        display: none;

        &:active,
        &:focus,
        &:hover {
          display: inline-block;
        }
      }
    }
  }
  .filename-with-actions {
    display: inline-flex;
    align-items: center;
    width: 90%;
    gap: 5px;

    .blank {
      flex-grow: 1;
    }

    .filename {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @media screen and (max-width: 899px) {
      width: 100%;
    }
  }
}
