#attributes .versioned-file-cf-form + .attachments_form {
  input.description {
    float: inline-start;
    inline-size: 95%;
    margin-inline-start: 0;
  }
}

.versioned_file_cf {
  .revision-file-history-link {
    font-size: 0.9em;
  }
}

.wiki-page-versions {
  .description {
    div {
      display: flex;
      gap: 5px;

      input {
        flex: 1 0 auto;
        border-width: 0;
        background: transparent;
        padding: 0;
        &:active,
        &:focus {
          outline: none;
          border-width: 1px;
          background: #fff;

          & + button {
            opacity: 0.5;
            visibility: visible;
          }
        }
      }
      button {
        flex: 0 0 auto;
        cursor: pointer;
        visibility: hidden;

        &:active,
        &:focus,
        &:hover {
          opacity: 1 !important;
          visibility: visible;
        }
      }
    }
  }
  .filename-with-actions {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;

    .blank {
      flex-grow: 1;
    }

    .filename {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .actions {
      display: inline-flex;
      gap: 5px;

      .blank-action {
        width: 18px;
        height: 18px;
        display: inline-block;
      }
    }
  }
}
