#attributes .versioned-file-cf-form + .attachments_form {
  input.description {
    float: inline-start;
    inline-size: 95%;
    margin-inline-start: 0;
  }
}

.versioned_file_cf {
  .revision-file-history-link {
    font-size: 0.9em;
  }
}
